* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    color: #333333;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: 'Great Vibes', cursive;
    font-weight: lighter;
    margin-bottom: 15px;
}


/* Homepage Styles */

.hero {
    background-color: #333333;
    color: #ffffff;
    padding: 0px 40px 90px 40px;
}

.hero-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.hero-logo {
    height: 150px;
    width: auto;
}

.hero-nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 1.5px solid #ffffff;
    transition: 0.3s;
}

.hero-nav a:hover,
.hero-nav a.active {
    background-color: #670808;
    border-color: #670808;
}

.nav-btn {
    position: relative;
    padding: 10px 24px;
    border-radius: 30px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    overflow: hidden;
}

.nav-btn:hover {
    background-color: #670808;
    box-shadow: 0 0 12px rgba(103, 8, 8, 0.6);
    transform: translateY(-2px);
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.hero-image img {
    max-width: 480px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.hero-text {
    max-width: 400px;
}

.hero-title {
    font-family: 'Great Vibes', cursive;
    font-weight: lighter;
    font-size: 150px;
    color: #ffffff;
    margin-bottom: 10px;
}

.hero-name {
    font-family: 'Inter', sans-serif;
    font-size: 33px;
    color: #ffffff;
}

.hero-socials {
    display: flex;
    gap: 20px;
}

.hero-socials a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.35s ease;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

.hero-socials a:hover {
    background-color: #670808;
    color: #ffffff;
    transform: scale(1.15);
    box-shadow: 0 6px 16px rgba(103, 8, 8, 0.4);
}

.intro-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 150px 40px;
}

.intro-image img {
    width: 550px;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

.intro-text {
    max-width: 550px;
}

.intro-text h2{
    font-size: 60px;
    margin-bottom: 20px;
}

.intro-text p {
    font-size: 20px;
    margin-bottom: 15px;
}

.designer-section {
    background-color: #670808;
    color: #ffffff;
    padding: 60px 40px;
    text-align: center;
}

.designer-section h2 {
    color: #ffffff;
    font-size: 60px;
}

.designer-section p {
    max-width: 800px;
    margin: 0 auto 15px auto;
    font-size: 20px;
}

.funfact-section {
    padding: 60px 40px;
    text-align: center;
}

.funfact-section h2 {
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 60px;
}

.funfact-section p {
    max-width: 1000px;
    margin: 0 auto 40px auto;
    font-size: 20px;
}

.funfact-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 80px;
}

.funfact-gallery img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.scroll-top-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: #670808;
    border-radius: 50%;
    margin: 20px;
    text-decoration: none;
    transition: all 0.35s ease;
    border: 2px solid white;
}

.scroll-top-btn:hover {
    background-color: #8a0b0b;
    transform: translateY(-6px) scale(1.08);
    box-shadow: 0 8px 20px rgba(103, 8, 8, 0.35);
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 90px 60px 90px;
    background-color: #670808;
    color: white;
}

.footer-contact h2 {
    font-size: 60px;
    margin-top: 20px;
}

.footer-side {
    display: flex;
    align-items: flex-start;
    gap:65px;
}

.footer-col {
    display: flex;
    flex-direction: column;
}

.footer-divider {
    width: 2px;
    background-color: white;
    height: 150px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.contact-text {
    font-size: 16px;
}

.footer-btn {
    display: inline-block;
    background-color: #7b2323 ;
    color: white;
    padding: 10px 22px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    margin: 8px 0;
    transition: all 0.35s ease;
    border: 1px solid transparent;
}

.footer-btn:hover {
    background-color: #670808;
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 8px 20px rgba(103, 8, 8, 0.35);
    border-color: white;
}

.intro-section,
.designer-section,
.funfact-section,
.footer-contact {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.hero-projecten {
    background-color: #333333;
    padding: 0 40px;
}

.projecten-header h1{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background-color: #670808;
    color: #ffffff;
    font-size: 20px;
    position: fixed;
    text-align: right;
    max-width: 25%;
    padding: 10px 20px 10px 30px;
    box-shadow: 0 0 20px rgba(0,0,0,6);
}

.project-block {
    display: flex;
    align-items: flex-start;
}

.project-block.reverse {
    flex-direction: row-reverse;
}

.project-block img, .projecblot-block reverse img {
    height: 800px;
}

.project-text {
    max-width: 820px;
    padding: 70px;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
    margin-top: 15%;
}

.project-text h2 {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 50px;
}

.project-text p {
    font-size: 20px;
}

.colored-bg {
    background-color: #f5f1ef;
    color: #333333;
}

.vormgeving-section {
    text-align: center;
}

.vormgeving-section h2 {
    font-weight: lighter;
    font-size: 60px;
    margin-top: 25px;
}

.vormgeving-section p {
    font-size: 20px;
    margin: 0 auto 15px auto;

}

.vormgeving-text {
    max-width: 100%;
    padding: 30px;
    background-color: #670808;
    color: #ffffff;
}

.terug-knop {
    margin: 20px 0 60px 0;
}

.terug-knop .nav-btn {
    background-color: #333333;
    color: white;
    padding: 12px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.35s ease;
    border: 1px solid transparent;
    display: inline-block;
}

.terug-knop .nav-btn:hover {
    background-color: #670808;
    color: #ffffff;
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 8px 20px rgba(103, 8, 8, 0.35);
    border-color: white;
}

.privacy-hero {
    padding: 80px 0 40px;
    text-align: center;
    background-color: #670808;
    color: white;
}

.hero-nav .active {
    background-color: #670808;
    color: white;
    border-radius: 30px;
    padding: 10px 24px;
}

.privacy-title {
    font-family: 'Great Vibes', cursive;
    font-size: 64px;
    margin: 0;
    letter-spacing: 1px;
}

.privacy-main {
    max-width: 900px;
    margin: 60px auto;
    padding: 0 20px;
}

.privacy-content h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    color: #670808;
    margin-top: 40px;
    margin-bottom: 10px;
}

.privacy-content p,
.privacy-content ul {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.7;
    color: #333333;
    margin-bottom: 20px;
}

.privacy-content ul {
    padding-left: 20px;
}

.privacy-content li {
    margin-bottom: 8px;
}

.privacy-back {
    text-align: center;
    margin-top: 50px;
}

.privacy-back .terug-btn {
    background-color: #333333;
    color: white;
    padding: 12px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.35s ease;
    border: 1px solid transparent;
    display: inline-block;
}

.privacy-back .terug-btn:hover {
    background-color: #670808;
    color: #ffffff;
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 8px 20px rgba(103, 8, 8, 0.35);
    border-color: white;
}


